.topicNavigation{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    border-radius: 4px;
}

.topicNavigation a{
    font-size: 14px;
    cursor: pointer;
    color: rgb(154, 161, 179);
    font-weight: bold;
    width: 150px;
}

.sidebarBody li .active{
    background-color: rgb(154, 161, 179);
}
.combinedTopics{
    margin-top: 10px;
}